.errorMessage {
    margin: 20px;
    padding: 20px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: #ffdddd;
    color: red;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.errorMessage h2 {
    color: darkred;
}

.errorMessage p {
    margin: 10px 0;
}

.retryButton {
    background-color: #4CAF50;
    color: white;
}
