.error-message {
    margin: 20px;
    padding: 20px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: #ffdddd;
    color: red;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.error-message h2 {
    color: darkred;
}

.error-message p {
    margin: 10px 0;
}

.retry-button {
    background-color: #4CAF50; /* Зеленый */
    color: white;
}
